<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="html_head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div th:fragment="header(activePage)">
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <div class="container-fluid">
	            <a class="navbar-brand" th:href="@{/}">University</a>
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
	                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	                <div class="navbar-nav">
	                    <a class="nav-link" th:classappend="${activePage == 'courses' ? ' active' : ''}" th:href="@{/courses}">Course</a>
	                    <a class="nav-link" th:classappend="${activePage == 'classrooms' ? ' active' : ''}" th:href="@{/classrooms}">Classrooms</a>
	                    <a class="nav-link" th:classappend="${activePage == 'groups' ? ' active' : ''}" th:href="@{/groups}">Groups</a>
	                    <a class="nav-link" th:classappend="${activePage == 'lessons' ? ' active' : ''}" th:href="@{/lessons}">Lessons</a>
	                    <a class="nav-link" th:classappend="${activePage == 'periods' ? ' active' : ''}" th:href="@{/periods}">Periods</a>
	                    <a class="nav-link" th:classappend="${activePage == 'students' ? ' active' : ''}" th:href="@{/students}">Students</a>
	                    <a class="nav-link" th:classappend="${activePage == 'teachers' ? ' active' : ''}" th:href="@{/teachers}">Teachers</a>
	                </div>
	            </div>
	        </div>
	    </nav>
    </div>
    
	<div class="card mb-3" style="max-width: 540px;">
	  <div class="row g-0">
	    <div class="col-md-4">
	      <img src="img/1200px-Java_logo.svg.png" class="img-fluid rounded-start" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Java</h5>
	        <p class="card-text">Java is a programming language and computing platform first released by Sun Microsystems in 1995. There are lots of applications and websites that will not work unless you have Java installed, and more are created every day. Java is fast, secure, and reliable. From laptops to datacenters, game consoles to scientific supercomputers, cell phones to the Internet, Java is everywhere!</p>
	      </div>
	    </div>
	  </div>
	</div>  

    <div th:fragment="footer">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    </div>
</body>

</html>