<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{index :: html_head}"></head>

<body class="bg-light">
    <div th:replace="~{index :: header('lessons')}"></div>
    <main class="container">
        <div class="nav-scroller position-relative bg-body shadow-sm">
            <nav class="nav nav-underline">
                <a class="nav-link"
                    th:href="@{/lessons/edit/{path}(path=${lesson.id})}"
                    th:text="#{form.edit}">Edit</a> 
                <a class="nav-link"
                    th:href="@{/lessons/remove/{path}(path=${lesson.id})}"
                    onclick="return confirm('Are you sure?')" th:text="#{form.remove}">Remove</a>
            </nav>
        </div>    
        <table class="table">
            <tbody>
                <tr>
                    <td th:text="#{generic.id}">Id</td>
                    <td th:text="${lesson.id}"></td>
                </tr>
                <tr>
                    <td th:text="#{lesson.course}">Course</td>
                    <td th:text="${lesson.courseName}"></td>
                </tr>
                <tr>
                    <td th:text="#{lesson.date}">Date</td>
                    <td th:text="${lesson.date}"></td>
                </tr>
                <tr>
                    <td th:text="#{lesson.period}">Period</td>
                    <td th:text="${lesson.periodName}"></td>
                </tr>
                <tr>
                    <td th:text="#{lesson.classroom}">Classroom</td>
                    <td th:text="${lesson.classroomName}"></td>
                </tr>
                <tr>
                    <td th:text="#{lesson.teacher}">Teacher</td>
                    <td th:text="${lesson.teacherFirstName + ' ' + lesson.teacherLastName}"></td>
                </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="~{index :: footer}"></div>
</body>

</html>