<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{index :: html_head}"></head>

<body>
	<div th:replace="~{index :: header('courses')}"></div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course, iterStat : ${courses}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>

	<div th:replace="~{index :: footer}"></div>
</body>

</html>