<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{index :: html_head}"></head>

<body>
	<div th:replace="~{index :: header('courses')}"></div>

    <main class="container">
        <div class="nav-scroller position-relative bg-body shadow-sm">
            <nav class="nav nav-underline">
                <a class="nav-link active" th:href="@{/courses/new}"
                    th:text="#{form.new}">New</a>
            </nav>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" th:text="#{generic.id}">ID</th>
                    <th scope="col" th:text="#{course.name}">Name</th>
                    <th scope="col" th:text="#{form.view}">View</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course, iterStat : ${courses}">
                    <th scope="row" th:text="${iterStat.count}"></th>
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td><a th:href="@{/courses/{id}(id=${course.id})}"
                        th:text="#{form.view}">View</a></td>
                </tr>
            </tbody>
        </table>
    </main>

	<div th:replace="~{index :: footer}"></div>
</body>

</html>